.menu-opt
{
	font-size: 1rem;
	font-weight: bold;
	opacity: 1;
	border-style: outset;
	background-color: lightgray;
	border-radius: 5px;
	padding: 5px;
}

.menu-opt:hover
{
	background-color: lightblue;
}	

.menu-grid 
{
	opacity: 1;
	display: inline-grid;
	column-gap: 50px;
	grid-template-areas: 
    'menu-opt menu-opt menu-opt menu-opt menu-opt' 
}



/*For our narrower screens*/
@media (max-width: 600px) 
{
	.menu-grid 
	{
		opacity: 1;
		display: inline-grid;
		column-gap: 50px;
		grid-template-areas: 
		'menu-opt' 
		'menu-opt'
		'menu-opt'
		'menu-opt' 
		'menu-opt' 
	}
}